* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: 'Roboto';
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0 17px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

img {
    width: 75px;
    height: 53px;
}

.header ion-icon {
    width: 42px;
    height: 42px;
}

.chat {
    min-height: 500px;
    font-size: 14px;
    font-family: 'Roboto';
    background-color: #F3F3F3;
    padding: 20px 0px 5px 0px;
    margin: 80px 0px;
    
}

.footer {
    height: 80px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0 17px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.footer ion-icon {
    height: 26px;
    width: 26px;
    margin-left: 10px;
    cursor: pointer;
}

.footer input {
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline: 0;
}

input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.chat div {
    margin: 5px 0px 5px 0px;
    padding: 10px;
    word-break: break-all;
    line-height: 20px;
}

.status {
    background-color: #DCDCDC;
}

.msgGeral {
    background-color: #FFFFFF;
}

.msgReservada {
    background-color: #FFDEDE;
}

.time {
    color:#B0B0B0;
    font-weight: 400;
    margin-right: 10px;
}

.user {
    font-weight: 700;
}

.text {
    font-weight: 500;
}